##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Eclipse
##############################
bin/
tmp/
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath